*{
  margin: 0;
  padding: 0;
}

h3, h4 {
  padding-bottom: 30px;
}

.App {
  text-align: center;
  background-color: rgb(243, 243, 243);
  height: 100vh;
}

.Sidebar { 
  grid-area: Sidebar;
  background-color: lightgrey;
  padding: 20px;
  text-align: left;
  padding-top: 50%;
}

.link {
  padding-top: 15px;
}


.Reviews { 
  grid-area: Reviews; 
  background-color: lightgrey;
  padding: 20px;
}

.review{
  margin: 10px;
  padding: 15px;
  background-color: rgb(170, 170, 170);
}

.star {
  padding-right: 15px;
}

.AverageRating { 
  grid-area: AverageRating; 
  background-color: lightgrey;
  padding: 20px;
}

.SentimentAnalysis { 
  grid-area: SentimentAnalysis; 
  background-color: lightgrey;
  padding: 20px;
}

.WebsiteVisitors { 
  grid-area: WebsiteVisitors; 
  background-color: lightgrey;
  padding: 20px;
}

.visitors{
  font-size: 60px;
  color: rgb(229, 1, 1);
}

.grid-container {
  display: grid;
  grid-template-areas:
    'Sidebar WebsiteVisitors AverageRating SentimentAnalysis'
    'Sidebar Reviews Reviews Reviews'
    'Sidebar Reviews Reviews Reviews';
  gap: 30px;
  padding: 40px 20px;
  min-height: 90vh;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}
